@model Category
@{
    ViewData["Title"] = "Delete Category";
}


<form asp-action="Delete" asp-controller="Category" asp-antiforgery="true">
    <div class="border p-3">
        <input asp-for="CatId" hidden />
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Category</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="CatName"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="CatName" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="DisplayOrder"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="DisplayOrder" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                        <div class="col">
                            <a asp-controller="Category" asp-action="index" class="btn btn-dark"><i class="fa fa-backward">&nbsp;</i> Back To Categries</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
